<div class="container">
    <app-add-edit-menu
        [formSectionsArray]="formSectionsArray"
        [activeSectionId]="activeSectionId"
        (changeActiveSectionEvent)="changeActiveSection($event)"
    ></app-add-edit-menu>
    <form [formGroup]="promotionForm">
        <app-add-edit-definition
            *ngIf="activeSectionId === 1"
            [promotionForm]="promotionForm"
            (enableOtherSectionsEvent)="enableOtherSections($event)"
        ></app-add-edit-definition>
        <app-add-edit-page
            *ngIf="activeSectionId !== 1 && activeSectionId !== 9"
        ></app-add-edit-page>
        <app-add-edit-summary
            *ngIf="activeSectionId === 9"
        ></app-add-edit-summary>
    </form>
</div>