<section class="generic-section">
    <div class="content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi explicabo aperiam culpa repellat blanditiis suscipit possimus officia eius alias, quis qui est iusto eveniet porro laborum provident dignissimos nesciunt? Nostrum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi explicabo aperiam culpa repellat blanditiis suscipit possimus officia eius alias, quis qui est iusto eveniet porro laborum provident dignissimos nesciunt? Nostrum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi explicabo aperiam culpa repellat blanditiis suscipit possimus officia eius alias, quis qui est iusto eveniet porro laborum provident dignissimos nesciunt? Nostrum.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi explicabo aperiam culpa repellat blanditiis suscipit possimus officia eius alias, quis qui est iusto eveniet porro laborum provident dignissimos nesciunt? Nostrum.</p>
    </div>
</section>