.list {
  width: 80%;
  margin: 1em auto;
  padding: 1em;
  background-color: var(--background);
  box-shadow: 0 0 5px 2px var(--dark-gray);

  &__header {
    display: flex;
    align-items: center;
    gap: 2em;
  }

  &__btn {
    padding: 0.5em;
    background-color: var(--dark-gray);
    color: var(--white);
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: var(--red);
    }
  }
}

table {
  margin-top: 2em;
  border-spacing: 0.5em;
}

th {
  padding: 0.25em 1em;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-radius: 2px;
  box-shadow: 3px 3px 3px 0 #808080;
}

.name-cell {
  text-indent: 0.5em;
}

.cell {
  text-align: center;
}

.form {
  &-edit {
    font-size: 25px;
    color: var(--black);
    text-decoration: none;

    &:hover {
      color: var(--red);
    }
  }

  &-delete {
    background-color: transparent;
    color: var(--black);
    border: none;
    cursor: pointer;

    &:hover {
      color: var(--red);
    }
  }
}
