.list {
  margin: 1em auto;
  padding: 1em;
  width: 80%;
  background-color: #eff1f3;
  box-shadow: 0 0 5px 2px #808080;

  & > div {
    display: flex;
    align-items: center;
    gap: 2em;
  }

  &__button {
    padding: 0.5em;
    background-color: #808080;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
      background-color: #991300;
    }
  }

  & > table {
    margin-top: 2em;
    border-spacing: 0.5em 0.5em;
  }
}

th {
  padding: 0.25em 1em;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  border-radius: 2px;
  box-shadow: 3px 3px 3px 0 #808080;
}

.cell {
  text-align: center;
}

.name-cell {
  text-indent: 0.5em;
}
