<div class="list">
    <a routerLink="/add">Add Promotion</a>
    <table>
        <tr>
            <th>Nazwa promocji</th>
            <th>Edytuj</th>
            <th>Usuń</th>
        </tr>
        <tr *ngFor="let form of formsArray">
            <td>{{ form.name }}</td>
            <td>
                <a routerLink="/edit/{{form.id}}">edit</a>
            </td>
            <td>
                <button class="form-delete" (click)="deleteForm(form.id)">x</button>
            </td>
        </tr>
    </table>
</div>