<div class="list">
    <div>
        <a routerLink="/add" class="list__button">Add Promotion</a>
        <p *ngIf="formsArray.length === 0">Currently there are no promotions to display</p>
    </div>
    <table *ngIf="formsArray.length > 0">
        <tr>
            <th>Nazwa promocji</th>
            <th>Edytuj</th>
            <th>Usuń</th>
        </tr>
        <tr *ngFor="let form of formsArray">
            <td class="name-cell">{{ form.name }}</td>
            <td class="cell">
                <a routerLink="/edit/{{form.id}}">edit</a>
            </td>
            <td class="cell">
                <button class="form-delete" (click)="deleteForm(form.id)">x</button>
            </td>
        </tr>
    </table>
</div>