/* You can add global styles to this file, and also import other style files */
// VARIABLES
:root {
  --background: #eff1f3;
  --benefit-background: #f3f3f3;
  --black: #000000;
  --dark-gray: #808080;
  --gray: #a7aaae;
  --input-text: #949494;
  --number-background: #666666;
  --number-background-disabled: #dee2e7;
  --red: #991300;
  --white: #ffffff;
}

// GLOBAL STYLES
* {
  box-sizing: border-box;
  font-family: Calibri, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
