.definition {
  display: flex;
  background-color: #eff1f3;
  gap: 1em;
}

.section {
  width: 45%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & > p {
      font-size: 0.6rem;

      & > span {
        display: inline-block;
        font-size: 0.8rem;
        transform: translateY(4px);
      }
    }
  }
}

.input-container {
  position: relative;

  &-mark {
    color: #991300;
    margin: 0;
    position: absolute;
    right: 2px;
    top: 0;
  }
}

hr {
  margin-top: 0;
  width: 100%;
  color: white;
  border: 1px solid white;
  border-radius: 1px;
}

input,
textarea,
select {
  width: 100%;
  padding: 1em 0.5em 0.5em 1em;
  font-size: 0.75rem;
  border: none;
}

select {
  background-color: white;
}

.required {
  color: #991300;
}

.gówno {
  margin: 0.5em 0;
  border: 1px solid white;
}
