hr {
  width: 100%;
  margin-top: 0;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 1px;
}

.vertical-line {
  margin: 1em 0;
  border: 1px solid var(--white);
  border-radius: 1px;
}

.definition {
  display: flex;
  gap: 1em;
  background-color: var(--background);
}

.section {
  width: 45%;
  margin: 0 auto;
  padding-right: 1em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > h4 {
      margin-bottom: 0.25em;
    }

    & > p {
      font-size: 0.6rem;
      color: var(--red);

      & > span {
        display: inline-block;
        font-size: 0.8rem;
        transform: translateY(4px);
      }
    }
  }
}

.input-container {
  margin-bottom: 1em;
  position: relative;

  &-calendar {
    position: absolute;
    top: 8px;
    right: 10px;
  }

  &-mark {
    margin: 0;
    position: absolute;
    top: 0;
    right: 2px;
    color: var(--red);
    font-size: 0.7rem;
  }
}

.input__text {
  width: 100%;
  padding: 1em 0.5em 0.5em 1em;
  color: var(--input-text);
  border: none;
  font-size: 0.9rem;
}

textarea {
  min-height: 100px;
  margin-bottom: 2em;
  resize: vertical;
}

select {
  background-color: var(--white);
}

.benefit {
  background-color: var(--benefit-background);
}

.dates {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
}

.pricing {
  margin-bottom: 0.5em;
  position: relative;
  display: flex;

  & > label {
    margin-right: 2em;
  }
}

.checkboxes {
  margin-bottom: 0.5em;

  & > span {
    margin-left: -0.5em;
  }
}

.is-invalid {
  box-shadow: 0 0 2px 2px var(--red);
}

.tooltip {
  width: 12px;
  height: 12px;
  margin-right: 0.5em;
  position: absolute;
  top: 10px;
  right: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--red);
  color: var(--white);
  border-radius: 100%;
  font-family: Georgia;
  font-size: 0.6rem;
  font-weight: 600;
  cursor: help;

  & .tooltip-info {
    width: 150px;
    padding: 0.5em;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    background-color: var(--red);
    border-radius: 5px;
    transition: all 0.2s ease-in;
  }

  &:hover {
    .tooltip-info {
      visibility: visible;
      opacity: 100%;
    }
  }
}

.tutorial {
  &-header {
    margin-bottom: 0.25em;
  }

  &-info {
    margin-top: 0;
    font-size: 0.9rem;
  }
}
