<section class="definition" [formGroup]="promotionForm">
    <section class="section" formGroupName="description">
        <div class="section__header">
            <h4>Description</h4>
            <p class="required"><span>*</span> is required</p>
        </div>
        <hr>
        <div 
            class="input-container" 
            [ngClass]="{ 'is-invalid': submitted && getMarketingName?.errors }"
        >
            <input 
                class="input__text"
                type="text" 
                formControlName="marketingName"
                placeholder="Marketing name"
                (input)="enableOtherSections()"
            >
            <span class="input-container-mark">*</span>
            <div class="tooltip">
                i
                <span class="tooltip__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
            </div>
        </div>
        <div class="input-container">
            <input 
                class="input__text"
                type="text" 
                formControlName="technicalName"
                placeholder="Technical name"
                (input)="enableOtherSections()"
            >
            <div class="tooltip">
                i
                <span class="tooltip__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
            </div>
        </div>
        <div class="input-container">
            <textarea 
                class="input__text"
                formControlName="description"
                placeholder="Description"
            ></textarea>
            <div class="tooltip">
                i
                <span class="tooltip__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
            </div>
        </div>
        <p>Catalog promotion tutorial:</p>
        <hr>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti, placeat sit cumque laboriosam minus incidunt maxime adipisci aut aliquid, perspiciatis assumenda iusto minima tempora sequi. Labore ex nisi fugit ratione.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti, placeat sit cumque laboriosam minus incidunt maxime adipisci aut aliquid, perspiciatis assumenda iusto minima tempora sequi. Labore ex nisi fugit ratione.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti, placeat sit cumque laboriosam minus incidunt maxime adipisci aut aliquid, perspiciatis assumenda iusto minima tempora sequi. Labore ex nisi fugit ratione.</p>
    </section>
    <span class="vertical-line"></span>
    <section class="section" formGroupName="conditions">
        <div class="section__header">
            <h4>Conditions</h4>
            <p class="required"><span>*</span> is required</p>
        </div>
        <hr>
        <div class="input-container" [ngClass]="{ 'is-invalid': submitted && getPortal?.errors }">           
            <select class="input__text" formControlName="portal">
                <option value="">Choose Portal</option>
                <option value="Portal 1">Portal 1</option>
                <option value="Portal 2">Portal 2</option>
                <option value="Portal 3">Portal 3</option>
            </select>
            <span class="input-container-mark">*</span>
            <div class="tooltip">
                i
                <span class="tooltip__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
            </div>
        </div>
        <div class="input-container" [ngClass]="{ 'is-invalid': submitted && getType?.errors }">           
            <select class="input__text" formControlName="type">
                <option value="">Choose Type</option>
                <option value="Type 1">Type 1</option>
                <option value="Type 2">Type 2</option>
                <option value="Type 3">Type 3</option>
            </select>
            <span class="input-container-mark">*</span>
            <div class="tooltip">
                i
                <span class="tooltip__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
            </div>
        </div>
        <div class="input-container">
            <input 
                class="input__text benefit"
                type="text" 
                formControlName="benefitAmount"
                placeholder="Benefit amount"
            >
            <div class="tooltip">
                i
                <span class="tooltip__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
            </div>
        </div>
        <hr>
        <div class="dates">
            <div class="input-container" [ngClass]="{ 'is-invalid': submitted && getStartDate?.errors }">           
                <input
                    class="input__text"
                    type="text"
                    formControlName="startDate"
                    placeholder="Start date"
                    onfocus="(this.type='date')"
                />
                <span class="input-container-mark">*</span>
            </div>
            <input
                class="input__text"
                type="text"
                formControlName="finishDate"
                placeholder="Finish date"
                onfocus="(this.type='date')"
            />
            <div class="tooltip">
                i
                <span class="tooltip__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
            </div>
        </div>
        <div class="pricing">
            <input 
                type="radio" 
                id="bussiness"
                formControlName="pricing" 
                value="bussiness" 
            >
            <label for="bussiness">Bussiness conditions</label>
            <input 
                type="radio" 
                id="base"
                formControlName="pricing" 
                value="base" 
            >
            <label for="base">Base price 100%</label>
            <div class="tooltip">
                i
                <span class="tooltip__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
            </div>
        </div>
        <div class="input-container">
            <label>
                <input type="checkbox" formControlName="combinePromotions">
                Connect with other promotions
            </label>
            <div class="tooltip">
                i
                <span class="tooltip__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
            </div>
        </div>
        <div class="input-container">
            <label>
                <input type="checkbox" formControlName="backPromotion">
                Back promotion
            </label>
            <div class="tooltip">
                i
                <span class="tooltip__info">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
            </div>
        </div>                
    </section> 
</section>